<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hwarim.qholo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="27" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Q-original"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.hwarim.qholo.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.DIAL"/>
                <action android:name="android.intent.action.CALL" />


            </intent-filter>
        </activity>
        <activity android:name="com.hwarim.qholo.CaptureActivity"
        android:screenOrientation="portrait">

    </activity>


</application>

</manifest>

